header {
  text-align: center;
  margin-bottom: 30px;
  color: #777;
}

h1 {
  border-bottom: 2px solid #777;
  padding-bottom: 5px;
  font-family: 'Arial black';
}

#start {
  margin-bottom: 20px;
}

canvas {
  border: 2px solid red;
}

#canvasContainer {
  text-align: center;
}