body {
  background-color: rgb(245, 250, 255);
}

header {
  text-align: center;
  margin-bottom: 50px;
  color: #777;
}

h1 {
  border-bottom: 2px solid #777;
  padding-bottom: 5px;
  font-family: 'Arial black';
  color: pink;
}

.dropdown {
  display: inline-block;
}

.caret {
  transition-duration: 0.2s;
}

.dropdown.open > button .caret {
  transform: rotate(-180deg);
}

main {
  width: 1210px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}

#start {
  border: 2px solid #777;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
}

#start section {
  margin-top: 10px;
  display: inline-block;
}

#currentRobot {
  text-align: left;
  padding: 0 10px;
}

#currentRobot h4 > span {
  cursor: pointer;
}

#currentRobot h4 {
  margin-bottom: 10px;
}

#robotVisionContainer, #currentRobot {
  width: 25%;
}

#robotVisionContainer {
  text-align: center;
  padding: 10px;
}

#robotVisionValue {
  margin-bottom: 5px;
}

#commandContainer {
  width: 50%;
  position: relative;
  transition-duration: 0.6s;  
}

#commandContainer.show {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  z-index: 5;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

#lightbox.show {
  display: block;
}

#commandContainer textarea {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  resize: none;
  border: 0;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  background-color: rgb(245, 250, 255);
  border-top-left-radius: 8px;
  padding: 5px;
}

#commandContainer.show textarea {
  border-radius: 8px;    
}

.expand {
  position: absolute;
  top: 4px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.command {
  position: absolute;
  top: 4px;
  right: 50px;
  font-size: 30px;
  display: none;
}

.command.show {
  display: initial;
}

.bad-command {
  color: #e31f1f;
}

.good-command {
  color: green;
}

#canvasContainer {
  text-align: center;
  border: 2px solid #777;
  border-top: 10px solid #777;
  border-radius: 0 0 10px 10px;
}

#robotLabel {
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

#robotLabel.faulty {
  border-radius: 0;
}

.flex {
  display: flex;
}

#robotY {
  margin-bottom: 5px;
}